<article class="container">
    <h3 class="config-headers"><span>Create/Add a new</span></h3>
    <hr />
    <div class="row">
        <div class="card-container col-sm-6 col-md-6 col-lg-3">
            <app-configurations-card configurationName="Client"></app-configurations-card>
        </div>
        <div class="card-container col-sm-6 col-md-6 col-lg-3">
            <app-configurations-card configurationName="Premise"></app-configurations-card>
        </div>
        <div class="card-container col-sm-6 col-md-6 col-lg-3">
            <app-configurations-card configurationName="Premise Manager"></app-configurations-card>
        </div>
        <div class="card-container col-sm-6 col-md-6 col-lg-3">
            <app-configurations-card configurationName="Gate Worker"></app-configurations-card>
        </div>
    </div>
    <div class="row">
        <div class="card-container col-sm-6 col-md-6 col-lg-3">
            <app-configurations-card configurationName="Pricing Strategy"></app-configurations-card>
        </div>

        <div class="card-container col-sm-6 col-md-6 col-lg-3">
            <app-configurations-card configurationName="Pass Configurations"></app-configurations-card>
        </div>

        <div class="card-container col-sm-6 col-md-6 col-lg-3">
            <app-configurations-card configurationName="Generate Pass"></app-configurations-card>
        </div>

        <div class="card-container col-sm-6 col-md-6 col-lg-3">
            <app-configurations-card configurationName="Registered Vehicles"></app-configurations-card>

        </div>

    </div>

    <h3 class="config-headers"><span>Update</span></h3>
    <hr />

    <div class="row">
        <div class="card-container col-sm-6 col-md-6 col-lg-3">
            <app-configurations-card configurationName="Premise Configuration"></app-configurations-card>
        </div>
        <div class="card-container col-sm-6 col-md-6 col-lg-3">
            <app-configurations-card configurationName="Pricing Configuration"></app-configurations-card>
        </div>
        <div class="card-container col-sm-6 col-md-6 col-lg-3">
            <app-configurations-card configurationName="Gate Configuration"></app-configurations-card>
        </div>
        <div class="card-container col-sm-6 col-md-6 col-lg-3">
        </div>
    </div>

</article>