<article class="container">
    <h3 class="config-headers"><span>Create/Add a new</span></h3>
    <hr />
    <div class="row">
        <div class="card-container col-sm-6 col-md-6 col-lg-4">
            <app-configurations-card configurationName="Client"></app-configurations-card>
        </div>
        <div class="card-container col-sm-6 col-md-6 col-lg-4">
            <app-configurations-card configurationName="Premise"></app-configurations-card>
        </div>
        <div class="card-container col-sm-6 col-md-6 col-lg-4">
            <app-configurations-card configurationName="Gate Worker"></app-configurations-card>
        </div>
    </div>

    <h3 class="config-headers"><span>Update</span></h3>
    <hr />

    <div class="row">
        <div class="card-container col-sm-6 col-md-6 col-lg-4">
            <app-configurations-card configurationName="Premise Config"></app-configurations-card>
        </div>
        <div class="card-container col-sm-6 col-md-6 col-lg-4">
            <app-configurations-card configurationName="Pricing Config"></app-configurations-card>
        </div>
        <div class="card-container col-sm-6 col-md-6 col-lg-4">
            <app-configurations-card configurationName="Gate Config"></app-configurations-card>
        </div>
    </div>
</article>