<div class="bg">


    <div class="container">
        <br><br><br>
        <h6 class="text-white text-center">WELCOME TO</h6>
        <h2 class="text-white text-center font-weight-bold">ParkWise </h2>
        <br>

        <h3 class="text-white text-center font-weight-bold">Simple,Reliable,Affordable</h3>

        <br>

        <h4 class="text-white text-center">Parking Management Tools designed to make</h4>
        <h4 class="text-white text-center">Parking Management Easier</h4>
    </div>
</div>


<div class="container mt-2">
    <div class="row">
        <div class="col-4 mt-1">
            <img src="../../assets/simple.jpg" width="30px">
            <span class="text-dark font-weight-bold">Simple</span>
            <hr>
            <p class="text-muted">An easy to use, uncomplicated solution to parking enforcement challenges. The mobile
                application,
                requires minimal training, links to a parking management database and provides straightforward,
                secure, and professional functionality.</p>
        </div>
        <div class="col-4 mt-1">
            <img src="../../assets/Reliable.jpg" width="23px">
            <span class="text-dark font-weight-bold">Reliable</span>
            <hr>
            <p class="text-muted">ParkWise systems are modular, designed to be scalable, secure, and provide great
                reliability. Our solutions have been developed with customer and user feedback based on real-world
                parking industry challenges. This allows customers to focus on core business rather than managing issues
                with technology.</p>
        </div>
        <div class="col-4 mt-1">
            <img src="../../assets/Affordable.png" width="30px">
            <span class="text-dark font-weight-bold">Affordable</span>
            <hr>
            <p class="text-muted">ParkWise services are easier and affordable SaaS (Software as a Service) solutions
                to parking control challenges, that provide great improvement over hand written violations,
                spreadsheets, and drastic cost savings over complicated software packages.</p>
        </div>
    </div>
</div>