<div class="container">

    <h3>Gate Configuration</h3>
    <hr />

    <form [formGroup]="gateConfigForm" class="form-content" (ngSubmit)="saveGateConfigData()">

        <div class="form-group" *ngIf="role === 'ADMIN'">
            <label>Client Username: </label><br>
            <select class="custom-select col-sm-6" formControlName="clientUsername" (blur)="logValidationErrors()">
                <option *ngFor="let client of clients" value="{{client.clientId}}">
                    {{client.username}}
                </option>
            </select>

            <div class="alert alert-danger col-sm-6" *ngIf="formErrors.clientUsername">
                {{formErrors.clientUsername}}
            </div>

        </div>

        <div class="form-group" *ngIf="role === 'ADMIN' || role === 'OWNER'">
            <label>Premise Name: </label><br>
            <select class="custom-select col-sm-6" formControlName="premiseName" (blur)="logValidationErrors()">
                <option *ngFor="let premise of premiseForClient" value="{{premise.id}}">
                    {{premise.name}}
                </option>
            </select>

            <div class="alert alert-danger col-sm-6" *ngIf="formErrors.premiseName">
                {{formErrors.premiseName}}
            </div>

        </div>

        <div class="form-group">
            <label for="gateName">Gate Name: </label>
            <input type="text" class="form-control col-sm-6" id="gateName" placeholder="Enter Gate Name"
                formControlName="gateName" (blur)="logValidationErrors()">

            <div class="alert alert-danger col-sm-6" *ngIf="formErrors.gateName">
                {{formErrors.gateName}}
            </div>

        </div>

        <input type="submit" class="btn btn-dark" [disabled]="gateConfigForm.invalid">
    </form>
</div>