.card {
    width: 95%;
    margin: auto;
    background-color: black;
    color: white;
    font-weight: bolder;
    line-height: 4em;
}
.content {
    vertical-align: middle;
    width: inherit;    
    align-self: center;
}