<div class="card entry-card">
    <div (click)="showEntryTypeConfigurations()">
        <span class="content">{{type}}</span>
    </div>
</div>
<div *ngIf="areConfigurationsAvailable === true">
    <!-- <div *ngFor="let entryType of entryTypes"> -->
    <div *ngIf="showConfigurations === true" [@slideUpDown]>
        <app-entry-type-card entryName="Regular" [vehicleTypes]="vehicleTypes" [premiseId]="premiseId"
            [clientId]="clientId" [workerId]="workerId" [gateId]="gateId">
        </app-entry-type-card>
    </div>
    <div *ngIf="showConfigurations === true" [@slideUpDown]>
        <app-entry-type-card entryName="Temporary" [tempConfigId]="tempConfigId" [premiseId]="premiseId"
            [clientId]="clientId" [workerId]="workerId" [gateId]="gateId">
        </app-entry-type-card>
    </div>
    <!-- </div> -->
</div>
<div *ngIf="areConfigurationsAvailable === false && showConfigurations === true" [@slideUpDown]>
    <app-data-entry-form type="EXIT" [premiseId]="premiseId" [gateId]="gateId" [enableValet]="false"
        [workerId]="workerId">
    </app-data-entry-form>
</div>