<nav class="navbar navbar-left navbar-default navbar-expand-sm bg-dark">

    <div class="btn-toolbar">
        <span class="side-nav-link" style="font-size:2em;color: white; cursor: pointer;">&#9776;</span>
        <div class="navbar-brand">
            <span>{{app_name}}</span>
        </div>
    </div>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Login</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
                <div class="form-group">
                    <div class="input-group">
                        <label for="username">Username: </label>
                        <input type="text" id="username" placeholder="enter username" class="formControl"
                            formControlName="username">
                    </div>
                    <div class="input-group">
                        <label for="password">Password: </label>
                        <input type="password" id="password" placeholder="enter password" class="formControl"
                            formControlName="password">
                    </div>

                    <input type="submit">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
    </ng-template>

    <div *ngIf="loggedIn === false">
        <button class="btn btn-lg btn-outline-light" (click)="open(content)">Login</button>
    </div>

</nav>