<article>
    <div class="row">

        <div class="card-container col-sm-6 col-md-6 col-lg-3">
            <app-entry-exit [clientId]="clientId" [premiseId]="premiseId" [workerId]="workerId" [gateId]="currentGateId"
                [role]="role" type="Entry" [areConfigurationsAvailable]="true"></app-entry-exit>
        </div>
        <div class="card-container col-sm-6 col-md-6 col-lg-3">
            <app-entry-exit [clientId]="clientId" [premiseId]="premiseId" [workerId]="workerId" [gateId]="currentGateId"
                [role]="role" type="Exit" [areConfigurationsAvailable]="false"></app-entry-exit>
        </div>

    </div>
</article>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Select Gate</h4>
    </div>
    <div class="modal-body">

        <form [formGroup]="gateForm" (ngSubmit)="saveGateInfo()">
            <label>Select Gate: </label><br>
            <select formControlName="gateName">
                <option *ngFor="let gate of gates" value="{{gate.id}}">
                    {{gate.name}}
                </option>

            </select><br>
            <input type="submit" [disabled]="gateForm.invalid">
        </form>

    </div>
</ng-template>