<div class="container">

    <h3>Update Pricing Configuration</h3>
    <hr />

    <form [formGroup]="updatePricingForm" class="form-content" (ngSubmit)="updatePricingConfigurations()">

        <div class="form-group" *ngIf="role === 'ADMIN'">
            <label>Client Username: </label><br>
            <select class="custom-select col-sm-6" formControlName="clientUsername" (blur)="logValidationErrors()">
                <option *ngFor="let client of clients" value="{{client.clientId}}">
                    {{client.username}}
                </option>
            </select>
            <div class="alert alert-danger col-sm-6" *ngIf="formErrors.clientUsername">
                {{formErrors.clientUsername}}
            </div>

        </div>

        <div class="form-group" *ngIf="role === 'ADMIN' || role === 'OWNER'">
            <label>Premise Name: </label><br>
            <select class="custom-select col-sm-6" formControlName="premiseName" (blur)="logValidationErrors()">
                <option *ngFor="let premise of premisesForClient" value="{{premise.id}}">
                    {{premise.name}}
                </option>
            </select>

            <div class="alert alert-danger col-sm-6" *ngIf="formErrors.premiseName">
                {{formErrors.premiseName}}
            </div>

        </div>

        <!-- 2 Wheeler Code -->

        <div class="form-check" *ngIf="twoWheelerPresent === true">
            <input class="form-check-input" type="checkbox" id="twoWheeler" value="twoWheeler"
                formControlName="twoWheeler">
            <label class="form-check-label" for="twoWheeler">2 Wheeler</label>
            <br>
        </div>

        <div formGroupName="twoWheelerPriceGroup" *ngIf="updatePricingForm.controls.twoWheeler.value === true">

            <div class="pricing-strategies">
                <label>Pricing Strategy: </label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="fixedPricing" value="fixed"
                        formControlName="twoWheelerPricingStrategy" (blur)="logValidationErrors()">
                    <label class="form-check-label" for="fixedPricing">Fixed</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="icrementalPricing" value="incremental"
                        formControlName="twoWheelerPricingStrategy" (blur)="logValidationErrors()">
                    <label class="form-check-label" for="icrementalPricing">Incremental</label>
                </div>

                <div class="alert alert-danger col-sm-6" *ngIf="formErrors.twoWheelerPricingStrategy">
                    {{formErrors.twoWheelerPricingStrategy}}
                </div>

            </div>

            <div class="baseStrategy">
                <div class="form-group"
                    *ngIf="updatePricingForm.controls.twoWheelerPriceGroup.controls.twoWheelerPricingStrategy.value === 'incremental'">
                    <label for="baseTime">Base Time: </label>
                    <input type="number" class="form-control col-sm-6" id="baseTime" placeholder="Enter Base Time"
                        formControlName="twBaseTime" (blur)="logValidationErrors()" default>

                    <div class="alert alert-danger col-sm-6" *ngIf="formErrors.twBaseTime">
                        {{formErrors.twBaseTime}}
                    </div>

                </div>
                <div class="form-group"
                    *ngIf="updatePricingForm.controls.twoWheelerPriceGroup.controls.twoWheelerPricingStrategy.value === 'fixed' || 
                    updatePricingForm.controls.twoWheelerPriceGroup.controls.twoWheelerPricingStrategy.value=== 'incremental'">
                    <label for="basePrice">Base Price: </label>
                    <input type="number" class="form-control col-sm-6" id="basePrice" placeholder="Enter Base Price"
                        formControlName="twBasePrice" (blur)="logValidationErrors()">

                    <div class="alert alert-danger col-sm-6" *ngIf="formErrors.twBasePrice">
                        {{formErrors.twBasePrice}}
                    </div>

                </div>
            </div>

            <div class="incrementalStrategy"
                *ngIf="updatePricingForm.controls.twoWheelerPriceGroup.controls.twoWheelerPricingStrategy.value=== 'incremental'">
                <div class="form-group">
                    <label for="incrementalTime">Incremental Time: </label>
                    <input type="number" class="form-control col-sm-6" id="incrementalTime"
                        placeholder="Enter Incremental Time" formControlName="twIncrementalTime"
                        (blur)="logValidationErrors()">

                    <div class="alert alert-danger col-sm-6" *ngIf="formErrors.twIncrementalTime">
                        {{formErrors.twIncrementalTime}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="incrementalPrice">Incremental Price: </label>
                    <input type="number" class="form-control col-sm-6" id="incrementalPrice"
                        placeholder="Enter Incremental Price" formControlName="twIncrementalPrice"
                        (blur)="logValidationErrors()">

                    <div class="alert alert-danger col-sm-6" *ngIf="formErrors.twIncrementalPrice">
                        {{formErrors.twIncrementalPrice}}
                    </div>

                </div>
            </div>
        </div>

        <!-- 4 Wheeler Code -->

        <div class="form-check" *ngIf="fourWheelerPresent === true">
            <input class="form-check-input" type="checkbox" id="fourWheeler" value="fourWheeler"
                formControlName="fourWheeler">
            <label class="form-check-label" for="fourWheeler">4 Wheeler</label>
            <br>
        </div>

        <div formGroupName="fourWheelerPriceGroup" *ngIf="updatePricingForm.controls.fourWheeler.value === true">

            <div class="pricing-strategies">
                <label>Pricing Strategy: </label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="fixedPricing" value="fixed"
                        formControlName="fourWheelerPricingStrategy" (blur)="logValidationErrors()">
                    <label class="form-check-label" for="fixedPricing">Fixed</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="incrementalPricing" value="incremental"
                        formControlName="fourWheelerPricingStrategy" (blur)="logValidationErrors()">
                    <label class="form-check-label" for="incrementalPricing">Incremental</label>
                </div>

                <div class="alert alert-danger col-sm-6" *ngIf="formErrors.fourWheelerPricingStrategy">
                    {{formErrors.fourWheelerPricingStrategy}}
                </div>
            </div>

            <div class="baseStrategy">
                <div class="form-group"
                    *ngIf="updatePricingForm.controls.fourWheelerPriceGroup.controls.fourWheelerPricingStrategy.value === 'incremental'">
                    <label for="baseTime">Base Time: </label>
                    <input type="number" class="form-control col-sm-6" id="baseTime" placeholder="Enter Base Time"
                        formControlName="fwBaseTime" (blur)="logValidationErrors()">

                    <div class="alert alert-danger col-sm-6" *ngIf="formErrors.fwBaseTime">
                        {{formErrors.fwBaseTime}}
                    </div>
                </div>
                <div class="form-group"
                    *ngIf="updatePricingForm.controls.fourWheelerPriceGroup.controls.fourWheelerPricingStrategy.value === 'fixed' || 
                            updatePricingForm.controls.fourWheelerPriceGroup.controls.fourWheelerPricingStrategy.value=== 'incremental'">
                    <label for="basePrice">Base Price: </label>
                    <input type="number" class="form-control col-sm-6" id="basePrice" placeholder="Enter Base Price"
                        formControlName="fwBasePrice" (blur)="logValidationErrors()">

                    <div class="alert alert-danger col-sm-6" *ngIf="formErrors.fwBasePrice">
                        {{formErrors.fwBasePrice}}
                    </div>
                </div>
            </div>

            <div class="incrementalStrategy"
                *ngIf="updatePricingForm.controls.fourWheelerPriceGroup.controls.fourWheelerPricingStrategy.value=== 'incremental'">

                <div class="form-group">
                    <label for="incrementalTime">Incremental Time: </label>
                    <input type="number" class="form-control col-sm-6" id="incrementalTime"
                        placeholder="Enter Incremental Time" formControlName="fwIncrementalTime"
                        (blur)="logValidationErrors()">
                    <div class="alert alert-danger col-sm-6" *ngIf="formErrors.fwIncrementalTime">
                        {{formErrors.fwIncrementalTime}}
                    </div>
                </div>

                <div class="form-group">
                    <label for="incrementalPrice">Incremental Price: </label>
                    <input type="number" class="form-control col-sm-6" id="incrementalPrice"
                        placeholder="Enter Incremental Price" formControlName="fwIncrementalPrice"
                        (blur)="logValidationErrors()">
                    <div class="alert alert-danger col-sm-6" *ngIf="formErrors.fwIncrementalPrice">
                        {{formErrors.fwIncrementalPrice}}
                    </div>
                </div>

            </div>

        </div>

        <!-- Heavy Vehicle Code -->

        <div class="form-check" *ngIf="heavyPresent === true">
            <input class="form-check-input" type="checkbox" id="heavy" value="heavy" formControlName="heavy">
            <label class="form-check-label" for="heavy">Heavy Vehicle</label>
            <br>
        </div>

        <div formGroupName="heavyPriceGroup" *ngIf="updatePricingForm.controls.heavy.value === true">

            <div class="pricing-strategies">

                <label>Pricing Strategy: </label>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="fixedPricing" value="fixed"
                        formControlName="heavyPricingStrategy" (blur)="logValidationErrors()">
                    <label class="form-check-label" for="fixedPricing">Fixed</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="incrementalPricing" value="incremental"
                        formControlName="heavyPricingStrategy" (blur)="logValidationErrors()">
                    <label class="form-check-label" for="incrementalPricing">Incremental</label>
                </div>

                <div class="alert alert-danger col-sm-6" *ngIf="formErrors.heavyPricingStrategy">
                    {{formErrors.heavyPricingStrategy}}
                </div>
            </div>

            <div class="baseStrategy">
                <div class="form-group"
                    *ngIf="updatePricingForm.controls.heavyPriceGroup.controls.heavyPricingStrategy.value === 'incremental'">

                    <label for="baseTime">Base Time: </label>
                    <input type="number" class="form-control col-sm-6" id="baseTime" placeholder="Enter Base Time"
                        formControlName="hBaseTime" (blur)="logValidationErrors()">

                    <div class="alert alert-danger col-sm-6" *ngIf="formErrors.hBaseTime">
                        {{formErrors.hBaseTime}}
                    </div>
                </div>

                <div class="form-group"
                    *ngIf="updatePricingForm.controls.heavyPriceGroup.controls.heavyPricingStrategy.value === 'fixed' || 
                                        updatePricingForm.controls.heavyPriceGroup.controls.heavyPricingStrategy.value=== 'incremental'">

                    <label for="basePrice">Base Price: </label>
                    <input type="number" class="form-control col-sm-6" id="basePrice" placeholder="Enter Base Price"
                        formControlName="hBasePrice" (blur)="logValidationErrors()">

                    <div class="alert alert-danger col-sm-6" *ngIf="formErrors.hBasePrice">
                        {{formErrors.hBasePrice}}
                    </div>
                </div>

            </div>

            <div class="incrementalStrategy"
                *ngIf="updatePricingForm.controls.heavyPriceGroup.controls.heavyPricingStrategy.value=== 'incremental'">

                <div class="form-group">
                    <label for="incrementalTime">Incremental Time: </label>
                    <input type="number" class="form-control col-sm-6" id="incrementalTime"
                        placeholder="Enter Incremental Time" formControlName="hIncrementalTime"
                        (blur)="logValidationErrors()">

                    <div class="alert alert-danger col-sm-6" *ngIf="formErrors.hIncrementalTime">
                        {{formErrors.hIncrementalTime}}
                    </div>

                </div>

                <div class="form-group">
                    <label for="incrementalPrice">Incremental Price: </label>
                    <input type="number" class="form-control col-sm-6" id="incrementalPrice"
                        placeholder="Enter Incremental Price" formControlName="hIncrementalPrice"
                        (blur)="logValidationErrors()">

                    <div class="alert alert-danger col-sm-6" *ngIf="formErrors.hIncrementalPrice">
                        {{formErrors.hIncrementalPrice}}
                    </div>

                </div>
            </div>
        </div>

        <!-- Bus Vehicle Code -->

        <div class="form-check" *ngIf="busPresent === true">
            <input class="form-check-input" type="checkbox" id="bus" value="bus" formControlName="bus">
            <label class="form-check-label" for="heavy">Bus</label>
            <br>
        </div>

        <div formGroupName="busPriceGroup" *ngIf="updatePricingForm.controls.bus.value === true">

            <div class="pricing-strategies">
                <label>Pricing Strategy: </label>
                <div class="form-chieck form-check-inline">
                    <input class="form-check-input" type="radio" id="fixedPricing" value="fixed"
                        formControlName="busPricingStrategy" (blur)="logValidationErrors()">
                    <label class="form-check-label" for="fixedPricing">Fixed</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="incrementalPricing" value="incremental"
                        formControlName="busPricingStrategy" (blur)="logValidationErrors()">
                    <label class="form-check-label" for="incrementalPricing">Incremental</label>
                </div>

                <div class="alert alert-danger col-sm-6" *ngIf="formErrors.busPricingStrategy">
                    {{formErrors.busPricingStrategy}}
                </div>

            </div>

            <div class="baseStrategy">
                <div class="form-group"
                    *ngIf="updatePricingForm.controls.busPriceGroup.controls.busPricingStrategy.value === 'incremental'">
                    <label for="baseTime">Base Time: </label>
                    <input type="number" class="form-control col-sm-6" id="baseTime" placeholder="Enter Base Time"
                        formControlName="bBaseTime" (blur)="logValidationErrors()">

                    <div class="alert alert-danger col-sm-6" *ngIf="formErrors.bBaseTime">
                        {{formErrors.bBaseTime}}
                    </div>

                </div>
                <div class="form-group"
                    *ngIf="updatePricingForm.controls.busPriceGroup.controls.busPricingStrategy.value === 'fixed' || 
                                                    updatePricingForm.controls.busPriceGroup.controls.busPricingStrategy.value=== 'incremental'">
                    <label for="basePrice">Base Price: </label>
                    <input type="number" class="form-control col-sm-6" id="basePrice" placeholder="Enter Base Price"
                        formControlName="bBasePrice" (blur)="logValidationErrors()">

                    <div class="alert alert-danger col-sm-6" *ngIf="formErrors.bBasePrice">
                        {{formErrors.bBasePrice}}
                    </div>

                </div>
            </div>

            <div class="incrementalStrategy"
                *ngIf="updatePricingForm.controls.busPriceGroup.controls.busPricingStrategy.value=== 'incremental'">
                <div class="form-group">
                    <label for="incrementalTime">Incremental Time: </label>
                    <input type="number" class="form-control col-sm-6" id="incrementalTime"
                        placeholder="Enter Incremental Time" formControlName="bIncrementalTime"
                        (blur)="logValidationErrors()">

                    <div class="alert alert-danger col-sm-6" *ngIf="formErrors.bIncrementalTime">
                        {{formErrors.bIncrementalTime}}
                    </div>

                </div>
                <div class="form-group">
                    <label for="incrementalPrice">Incremental Price: </label>
                    <input type="number" class="form-control col-sm-6" id="incrementalPrice"
                        placeholder="Enter Incremental Price" formControlName="bIncrementalPrice"
                        (blur)="logValidationErrors()">

                    <div class="alert alert-danger col-sm-6" *ngIf="formErrors.bIncrementalPrice">
                        {{formErrors.bIncrementalPrice}}
                    </div>

                </div>
            </div>
        </div>

        <br />
        <input type="submit" class="btn btn-dark" [disabled]="updatePricingForm.invalid">

    </form>
</div>